<%= simple_form_for [@lender, @lending_limit], html: { class: 'form-horizontal form-lending-limit' } do |f| %>
  <% if @lending_limit.new_record? %>
    <%= f.input :allocation_type_id, as: :radio_buttons, collection: LendingLimitType.all, wrapper_html: { class: 'radio-buttons-inline' } %>
  <% else %>
    <div class="control-group">
      <div class="control-label"><%=t 'simple_form.labels.lending_limit.allocation_type_id' %></div>
      <div class="controls"><%= @lending_limit.allocation_type.name %></div>
    </div>
  <% end %>

  <%= f.input :name %>

  <% if @lending_limit.new_record? %>
    <%= f.input :starts_on, as: :quick_date %>
    <%= f.input :ends_on, as: :quick_date %>
  <% else %>
    <div class="control-group">
      <div class="control-label"><%=t 'simple_form.labels.lending_limit.starts_on' %></div>
      <div class="controls"><%= @lending_limit.starts_on.to_s(:screen) %></div>
    </div>
    <div class="control-group">
      <div class="control-label"><%=t 'simple_form.labels.lending_limit.ends_on' %></div>
      <div class="controls"><%= @lending_limit.ends_on.to_s(:screen) %></div>
    </div>
  <% end %>

  <%= f.input :allocation, as: :currency %>

  <% if @lending_limit.new_record? %>
    <%= f.input :guarantee_rate, as: :string %>
    <%= f.input :premium_rate, as: :string %>
  <% else %>
    <div class="control-group">
      <div class="control-label"><%=t 'simple_form.labels.lending_limit.guarantee_rate' %></div>
      <div class="controls"><%= @lending_limit.guarantee_rate %></div>
    </div>
    <div class="control-group">
      <div class="control-label"><%=t 'simple_form.labels.lending_limit.premium_rate' %></div>
      <div class="controls"><%= @lending_limit.premium_rate %></div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', value: @lending_limit.new_record? ? 'Create Lending Limit' : 'Update Lending Limit' %>
  </div>
<% end %>
