<div class="page-header">
  <h1>View Lending Limit</h1>
</div>

<p>This page confirms the amendment to a lender's record.</p>

<div class="actions">
  <%= link_to %{<i class="icon-plus"></i> New Lender Limit}.html_safe, new_lender_lending_limit_path(@lender), class: 'btn' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Lending allocation name</th>
      <th>Lending limit type</th>
      <th>Lending start date</th>
      <th>Lending end date</th>
      <th>Lending allocation</th>
      <th>Active allocation</th>
    </tr>
  </thead>
  <tbody>
    <% @lending_limits.each do |lending_limit| %>
      <tr>
        <td><%= link_to lending_limit.name, edit_lender_lending_limit_path(@lender, lending_limit) %></td>
        <td><%= lending_limit.allocation_type.name %></td>
        <td><%= lending_limit.starts_on.strftime('%d/%m/%Y') %></td>
        <td><%= lending_limit.ends_on.strftime('%d/%m/%Y') %></td>
        <td><%= lending_limit.allocation.format %></td>
        <td><%=friendly_boolean lending_limit.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>
