<div class="page-header with-actions" id="welcome_message">
  <h1>Welcome back, <%= current_user.first_name %></h1>
  <p>Your last visit was <%= distance_of_time_in_words_to_now(current_user.last_sign_in_at) %> ago.</p>
  <p>Since then, there have been <a href="#">3 new loan entries</a>, <a href="#">2 rejected loan requests</a> and <a href="#">1 newly offered loans</a>.</p>

  <ul id="actions">
    <li><%= link_to "Start New Loan Application", new_eligibility_check_path, class: "btn btn-primary" %></li>
    <li><%= link_to "View Loan Portfolio", loan_states_path, class: "btn btn-info" %></li>
  </ul>
</div>

<div class="dashboard_widgets" id="loan_alerts">
  <h2><%= t('dashboard.loan_alerts.title') %></h2>

  <%= render 'loan_alert', :presenter => @offered_alerts_presenter, :title => raw(t('dashboard.loan_alerts.not_drawn')) %>

  <%= render 'loan_alert', :presenter => @lender_demanded_alerts_presenter, :title => raw(t('dashboard.loan_alerts.not_drawn')) %>

  <%= render 'loan_alert', :presenter => @unprogressed_alerts_presenter, :title => raw(t('dashboard.loan_alerts.not_progressed')) %>

  <!-- <div class="loan-alert">
      <h4>Loans assumed to have been <em>Repaid</em> due to <em>lack of updates</em>:</h4>
      <div class="bar-chart">
        TO-DO
      </div>

      <ol class="dates">
        <li>0 days</li>
        <li>30 days</li>
        <li>60 days</li>
      </ol>
    </div> -->

</div>


<% if @utilisation_presenter.has_allocations? %>
<div class="dashboard_widgets" id="utilisation_dashboard">
  <h2><%= t('dashboard.utilisation.title')%></h2>

  <% @utilisation_presenter.each_loan_allocation do |loan_allocation_presenter, index| %>
    <%= render "loan_allocation", :loan_allocation_presenter => loan_allocation_presenter, :index => index %>
  <% end %>
</div>
<% end %>
