<div class="page-header" id="welcome_message">
  <%= welcome_message(current_user) %>

  <ul id="actions">
    <% if current_user.can_create?(LoanEligibilityCheck) %><li><%= link_to "Start New Loan Application", new_eligibility_check_path, class: "btn btn-primary" %></li><% end %>
    <% if current_user.can_view?(LoanStates) %><li><%= link_to "View Loan Portfolio", loan_states_path, class: "btn btn-info" %></li><% end %>

    <% if current_user.can_create?(Lender) %>
      <li><%= link_to 'Manage Lenders', lenders_path, class: 'btn btn-info' %></li>
    <% end %>
    <% if current_user.can_create?(CfeAdmin) %>
      <li><%= link_to 'Manage CfE Admins', cfe_admins_path, class: 'btn btn-info' %></li>
    <% end %>
    <% if current_user.can_create?(CfeUser) %>
      <li><%= link_to 'Manage CfE Users', cfe_users_path, class: 'btn btn-info' %></li>
    <% end %>
    <% if current_user.can_create?(LenderAdmin) %>
      <li><%= link_to 'Manage Lender Admins', lender_admins_path, class: 'btn btn-info' %></li>
    <% end %>
    <% if current_user.can_create?(AuditorUser) %>
      <li><%= link_to 'Manage Auditor Users', auditor_users_path, class: 'btn btn-info' %></li>
    <% end %>
    <% if current_user.can_create?(PremiumCollectorUser) %>
      <li><%= link_to 'Manage Premium Collector Users', premium_collector_users_path, class: 'btn btn-info' %></li>
    <% end %>
    <% if current_user.can_create?(LenderUser) %>
      <li><%= link_to 'Manage Users', lender_users_path, class: 'btn btn-info' %></li>
    <% end %>
    <% if current_user.can_create?(Expert) %>
      <li><%= link_to 'Manage Experts', expert_users_path, class: 'btn btn-info' %></li>
    <% end %>
  </ul>
</div>

<% if current_user.can_view?(LoanAlerts) %>
<div class="dashboard_widgets" id="loan_alerts">
  <h2><%= t('dashboard.loan_alerts.title') %></h2>

  <div id="not_progressed_loan_alerts">
    <%= render 'loan_alert',
                presenter: @not_progressed_alerts_presenter,
                title: raw(t('dashboard.loan_alerts.not_progressed')),
                url_helper: :not_progressed_loan_alerts_path %>
  </div>

  <div id="not_drawn_loan_alerts">
    <%= render 'loan_alert',
                presenter: @not_drawn_alerts_presenter,
                title: raw(t('dashboard.loan_alerts.not_drawn')),
                url_helper: :not_drawn_loan_alerts_path %>
  </div>

  <div id="demanded_loan_alerts">
    <%= render 'loan_alert',
                presenter: @demanded_alerts_presenter,
                title: raw(t('dashboard.loan_alerts.demanded')),
                url_helper: :demanded_loan_alerts_path %>
  </div>

  <div id="assumed_repaid_loan_alerts">
    <%= render 'loan_alert',
                presenter: @assumed_repaid_presenter,
                title: raw(t('dashboard.loan_alerts.assumed_repaid')),
                url_helper: :assumed_repaid_loan_alerts_path %>
  </div>
</div>

  <% unless @lending_limit_utilisations.empty? %>
    <div class="dashboard_widgets" id="utilisation_dashboard">
      <h2>Lending Limit Utilisation</h2>
      <%= render partial: "lending_limit", collection: @lending_limit_utilisations %>
    </div>
  <% end %>

<% end %>
