<div class="page-header">
  <h1>Loan Entry</h1>
</div>

<p>From this page you can complete the application for the Government Guarantee. Before entering any further information on this page, the lender must have received the <%= link_to "Data Protection and Disclosure Declaration", data_protection_declaration_documents_path(format: :pdf) %> signed by the Application and checked the box by way of confirmation.</p>
<p>Following completion of the Business Facility and Lender sections of the application a decision will be returned and if agreed the application can be progress to 'Offered'.</p>
<p>Please note that all the information within Facility Entry can be revised, however before progressing to Offered the information must represent the final terms agreed with the Applicant as it cannot subsequently be changed.</p>

<hr>

<%= simple_form_for(@loan_entry, url: loan_entry_path(@loan), html: {class: 'form-horizontal form-loan-entry'}) do |f| %>
  <%= field_set_tag do %>
    <%= f.input :declaration_signed, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <%= field_set_tag 'Business' do %>
    <%= f.input :business_name, as: :string %>
    <%= f.input :trading_name, as: :string %>
    <%= f.input :legal_form_id, as: :select, collection: LegalForm.all, prompt: 'Please select' %>
    <%= f.input :company_registration, as: :string %>
    <%= f.input :turnover, as: :currency %>
    <%= f.input :trading_date, as: :quick_date %>
    <%= f.input :postcode, as: :string %>
    <%= f.input :sortcode, as: :string %>
  <% end %>

  <%= field_set_tag 'Loan' do %>
    <%= f.input :amount, as: :currency %>
    <%= f.input :lending_limit_id, as: :select, collection: @loan_entry.lender.lending_limits.where(id: @loan_entry.lending_limit_id) %>
    <%= f.input :repayment_duration, as: :duration %>
    <%= f.input :repayment_frequency_id, as: :select, collection: RepaymentFrequency.all, prompt: 'Please select', input_html: { class: 'input-xxlarge' } %>
    <%= f.input :maturity_date, as: :quick_date %>
    <%= simple_form_row t('simple_form.labels.loan_entry.sic_code'), @loan.sic_code %>
    <%= simple_form_row t('simple_form.labels.loan_entry.sic_desc'), @loan.sic_desc %>
    <%= f.input :reason_id, as: :select, collection: LoanReason.active, prompt: 'Please select', input_html: { class: 'input-xxlarge' } %>
    <%= f.input :interest_rate_type_id, as: :radio_buttons, collection: InterestRateType.all, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :interest_rate, as: :string %>
    <%= f.input :fees, as: :currency %>
    <%= f.input :previous_borrowing, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :state_aid, as: :state_aid %>
    <%= f.input :state_aid_is_valid, as: :boolean %>
    <%= f.input :private_residence_charge_required, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :personal_guarantee_required, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <%= field_set_tag 'EFG Lending Type' do %>

    <%= f.input :loan_category_id, as: :select, collection: LoanCategory.all, prompt: 'Please select', input_html: { class: 'input-xxlarge' } %>

    <% for_loan_in_categories(@loan_entry, 2, 3, 4, 5, 6) do %>
      <%= f.input :loan_security_types,
                  as: :select,
                  collection: LoanSecurityType.all,
                  input_html: { class: 'input-xxlarge', multiple: true },
                  selected: @loan.loan_security_types.collect(&:id) %>

      <%= f.input :security_proportion, as: :percentage %>
    <% end %>

    <% for_loan_in_categories(@loan_entry, 3) do %>
      <%= f.input :original_overdraft_proportion, as: :percentage %>
    <% end %>

    <% for_loan_in_categories(@loan_entry, 3, 4) do %>
      <%= f.input :refinance_security_proportion, as: :percentage %>
    <% end %>

    <% for_loan_in_categories(@loan_entry, 4) do %>
      <%= f.input :current_refinanced_amount, as: :currency %>
      <%= f.input :final_refinanced_amount, as: :currency %>
    <% end %>

    <% for_loan_in_categories(@loan_entry, 5) do %>
      <%= f.input :overdraft_limit, as: :currency %>
      <%= f.input :overdraft_maintained, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <% end %>

    <% for_loan_in_categories(@loan_entry, 6) do %>
      <%= f.input :invoice_discount_limit, as: :currency %>
      <%= f.input :debtor_book_coverage, as: :percentage %>
      <%= f.input :debtor_book_topup, as: :percentage %>
    <% end %>

  <% end %>

  <%= field_set_tag 'Lender' do %>
    <%= f.input :viable_proposition, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :would_you_lend, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :collateral_exhausted, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :generic1, as: :string %>
    <%= f.input :generic2, as: :string %>
    <%= f.input :generic3, as: :string %>
    <%= f.input :generic4, as: :string %>
    <%= f.input :generic5, as: :string %>
    <%= f.input :town, as: :string %>
    <%= f.input :non_validated_postcode, as: :string %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
    <%= f.button :submit, value: 'Save as Incomplete', class: 'btn-secondary' %>
  </div>
<% end %>