<%= breadcrumbs(
  link_to('Recoveries Statement Received', new_realise_loan_path)
) %>

<div class="page-header">
  <h1>Record Loan Recoveries</h1>

  <ul id="actions">
    <li>
      <%= simple_form_for(@realisation_statement, url: select_loans_realise_loans_path(format: 'csv'), html: { class: 'csv-download' }) do |f| %>
        <%= render "hidden_fields", form: f %>
        <%= f.button :submit, 'Export CSV', class: 'btn', data: { 'disable-with' => 'Submitting...' } %>
      <% end %>
    </li>
  </ul>
</div>

<p>From this page you can record a recovered amount on a loan as realised.</p>

<p>The amount realised must agree with the lender's recoveries statement.</p>

<p>When you have agreed all loans for which the amount realised has been received (by checking the relevant box) click on 'Recover Loans'. You will then be provided with a list of loans that have been realised.</p>

<hr>

<% if @realisation_statement.recoveries.any? %>
  <%= simple_form_for(@realisation_statement, url: realise_loans_path, html: {class: 'form-select-loans'}) do |f| %>
    <%= f.error :base, error_tag: 'div', class: 'alert alert-error' %>

    <%= render "hidden_fields", form: f %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Confirm Realised?</th>
          <th>Loan Reference</th>
          <th>Name</th>
          <th>Recovered Date</th>
          <th>Outstanding Demand against Government Guarantee</th>
          <th>Recovered Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @realisation_statement.recoveries.each do |recovery| %>
          <tr id="<%= dom_id(recovery) %>">
            <td><%= check_box_tag "#{f.object_name}[recoveries_to_be_realised_ids][]", recovery.id %></td>
            <td><%= recovery.loan.reference %></td>
            <td><%= recovery.loan.business_name %></td>
            <td><%= recovery.recovered_on.to_s(:screen) %></td>
            <td><%= recovery.loan.dti_amount_claimed.try(:format) %></td>
            <td><%= recovery.amount_due_to_dti.format %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="form-actions">
      <%= f.button :submit, 'Realise Loans', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-error">There are no recoveries to realise.</div>
<% end %>
