<%= breadcrumbs(
  link_to('Recoveries Statement Received', new_realise_loan_path)
) %>

<div class="page-header">
  <h1>Realise Loans Summary</h1>
</div>

<p>The following loans have been realised:</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Loan Reference</th>
      <th>Lender's Reference</th>
      <th>Business Name</th>
      <th>Realised Date</th>
      <th>Loan State</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <% @loan_realisations.each do |loan_realisation| %>
        <tr>
          <td><%= loan_realisation.realised_loan.reference %></td>
          <td><%= loan_realisation.realised_loan.lender_reference %></td>
          <td><%= loan_realisation.realised_loan.business_name %></td>
          <td><%= loan_realisation.created_at.to_s(:screen) %></td>
          <td><%= loan_realisation.realised_loan.state.humanize %></td>
        </tr>
      <% end %>
    </tbody>
  </tbody>
</table>