<%= render "user_management/password_not_set_dialog", user: @user %>

<%= simple_form_for @user do |f| %>
  <% if @user.new_record? %>
    <%= f.input :lender_id, as: :select, collection: Lender.order_by_name, prompt: 'Please select' %>
  <% end %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', value: @user.new_record? ? 'Create Lender Admin' : 'Update Lender Admin', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>

<% if @user.persisted? && @user.locked? %>
  <%= simple_form_for @user, url: unlock_lender_admin_path(@user), method: :post do |f| %>
    <%= f.button :submit, value: 'Unlock User', data: { 'disable-with' => 'Submitting...' } %>
  <% end %>
<% end %>

<% if @user.persisted? %>
  <% if @user.disabled? %>
    <%= simple_form_for @user, url: enable_lender_admin_path(@user), method: :post do |f| %>
      <%= f.button :submit, value: 'Enable User', data: { 'disable-with' => 'Submitting...' } %>
    <% end %>
  <% else %>
    <%= simple_form_for @user, url: disable_lender_admin_path(@user), method: :post do |f| %>
      <%= f.button :submit, value: 'Disable User', data: { 'disable-with' => 'Submitting...' } %>
    <% end %>
  <% end %>
<% end %>
