<%= breadcrumbs_for_lender_admins(@user.lender, current_user) %>

<div class="page-header">
  <h1>Lender Admin: <%= @user.name %></h1>
</div>

<dl>
  <dt>Lender</dt>
  <dd><%= @user.lender.name %></dd>
  <dt>Username</dt>
  <dd><%= @user.username %></dd>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <dt>Locked</dt>
  <dd><%=friendly_boolean @user.locked? %></dd>
</dl>

<%= render 'user_management/user_state_change_buttons', user: @user %>

<div class="actions">
  <%= link_to "Back to Lender Admins", lender_lender_admins_path(@user.lender), class: 'btn' %>
</div>
