<div class="page-header">
  <h1>Loan Offer</h1>
</div>

<p>From this page you can record the offer of a Scheme Facility to a borrower.</p>
<p><span class="label label-important">IMPORTANT</span> The date of the Scheme Facility letter must be within the date range of the selected Lending Limit</p>

<hr>

<%= simple_form_for(@loan_offer, url: loan_offer_path(@loan), html: { class: 'form-horizontal form-loan-offer' }) do |f| %>
  <%= f.input :facility_letter_sent, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>

  <div class="control-group">
    <div class="control-label">Loan lending limit details:</div>
    <div class="controls"><%= @loan_offer.lending_limit_details %></div>
  </div>

  <%= f.input :facility_letter_date, as: :quick_date %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
  </div>
<% end %>
