<div class="page-header">
  <h1>Loan Recovery</h1>
</div>

<p>Using this screen you can record any recovery due to the Secretary of State.</p>

<p>This screen operates in accordance with Schedule 2 of the Legal Agreement under which this facility was guaranteed.  This should be referred to if a fuller description of any of the abbreviated definitions used below is required.</p>

<hr>

<%= simple_form_for([@loan, @recovery], html: { class: 'form-horizontal form-recovery' }) do |f| %>
  <%= f.input :recovered_on, as: :quick_date %>

  <%= simple_form_row "The Secretary of State previously paid the Lender this amount by way of a Settlement of the Lender's Demand against the Government Guarantee", @loan.dti_amount_claimed.format %>
  <%= simple_form_row 'The Guarantee Rate applicable to this facility is', "#{@loan.guarantee_rate}%" %>
  <%= simple_form_row 'This is the qualifying amount which was outstanding to the Lender by the Borrower under the guaranteed facility on the date Demand was originally made to the Secretary of State', @loan.dti_demand_outstanding.format %>

  <%= f.input :outstanding_non_efg_debt, as: :currency %>
  <%= f.input :non_linked_security_proceeds, as: :currency %>
  <%= f.input :linked_security_proceeds, as: :currency %>

  <div class="control-group">
    <div class="control-label">
      Value of Realisations attributable to EFG facility
    </div>
    <div class="controls"><%= @recovery.realisations_attributable.format if @recovery.realisations_attributable %></div>
  </div>
  <div class="control-group">
    <div class="control-label">
      Cumulative total of previous recorded Recoveries
    </div>
    <div class="controls"><%= @loan.cumulative_total_previous_recoveries.format %></div>
  </div>
  <div class="control-group">
    <div class="control-label">
      Value of payment due to the Secretary of State
    </div>
    <div class="controls"><%= @recovery.amount_due_to_dti.format if @recovery.amount_due_to_dti %></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Calculate', class: 'btn-primary' %>
    <%= f.button(:submit, value: 'Submit', class: 'btn-primary') if @recovery.valid? %>
  </div>
<% end %>
