<%= breadcrumbs(
  link_to('Loan Portfolio', loan_states_path)
) %>

<div class="page-header">
  <h1>Loans: <%= loan_listing_title(params[:id], params[:scheme]) %></h1>
  <ul id="actions">
    <li><%= link_to "Export CSV", loan_state_path(params[:id], format: 'csv', scheme: params[:scheme]), class: 'btn csv-download' %></li>
  </ul>
</div>

<%= render partial: "loans_listing", locals: { loans: @loans } %>

<%= will_paginate @loans %>