<%= breadcrumbs(
  link_to('Loan Portfolio', loan_states_path)
) %>

<div class="page-header">
  <h1>Loans: <%= loan_listing_title(params[:id], params[:scheme]) %></h1>
  <ul id="actions">
    <li><%= link_to "Export CSV", loan_state_path(params[:id], format: 'csv', scheme: params[:scheme]), class: 'btn csv-download' %></li>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Reference</th>
      <th>Business name</th>
      <th>Amount</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= link_to(loan.reference, loan) %></td>
        <td><%= link_to(loan_business_name(loan), loan) %></td>
        <td><%= loan.amount.format %></td>
        <td><%= loan.updated_at.strftime("%d %B %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @loans %>
