<p>Hello <%= @user.first_name %>!</p>

<p>You may be aware that a new web based system has been developed for the Small Firms Loan Guarantee and Enterprise Finance Guarantee schemes. The new system is going live on the morning of Monday 22nd October 2012 and you will have to use the system from this date.</p>

<p>A new <%= @user.type.titleize %> account has been created for you for this system.</p>

<p>To login to your account, <strong>you must first set-up a password</strong> by following this link:</p>

<p><%= link_to 'Set your password', edit_password_url(@user, reset_password_token: @user.reset_password_token) %></p>

<p>For security purposes, this link will expire after 7 days. If the link has expired, just go back to the login page and reset your password and you'll receive a new link.</p>

<p><strong>You will not be able to login to your account until you have set your password.</strong></p>

<p>For future logins to your account, your username is <strong><%= @user.username %></strong> and you should use the password you have chosen.</p>

<p>The link to the new web based system is <%= root_url %></p>

<p>If you have difficulty logging into your account, please contact <a href="mailto:efg-support@digital.cabinet-office.gov.uk">efg-support@digital.cabinet-office.gov.uk</a></p>

<p>
Regards,</p>

<p>
The EFG Team</p>
