<%= breadcrumbs('Search') %>

<div class="page-header">
  <h1>Search</h1>
</div>

<p>From this page you can locate an EFG/SFLG loan using basic or advanced search criteria.</p>

<p>(Tip. If required, you can select more than one option by using the Ctrl and Shift keys in conjunction with your mouse).</p>

<p>When you have entered your Search criteria click on the 'Submit' button.<p>

<hr />

<%= simple_form_for(@search, url: search_path, method: :get, html: {id: 'search', class: 'form-horizontal form-loan-search'}) do |f| %>
  <%= f.input :business_name %>
  <%= f.input :trading_name %>
  <%= f.input :company_registration  %>
  <%= f.input :state, collection: loan_state_options(Loan::States), input_html: {multiple: true} %>

  <%= field_set_tag 'Sorting' do %>
    <%= f.input :sort_by, collection: search_sort_options, prompt: false, selected: nil %>
    <%= f.input :sort_order, as: :radio_buttons, collection: Search::SortOrders, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <%= field_set_tag 'Advanced', id: 'advanced_search_options' do %>

    <%= search_lender_id_input(f, @search) %>

    <%= f.input :lending_limit_id,
                as: :grouped_select,
                collection: @search.lending_limits.group_by { |lending_limit| lending_limit.lender.name }.sort,
                group_method: :last,
                input_html: {multiple: true} %>

    <%= f.input :amount_from, as: :currency %>
    <%= f.input :amount_to, as: :currency %>
    <%= f.input :maturity_date_from, as: :quick_date %>
    <%= f.input :maturity_date_to, as: :quick_date %>
    <%= f.input :reason_id, collection: LoanReason.all, input_html: { class: 'input-xxlarge', multiple: true } %>
    <%= f.input :postcode %>
    <%= f.input :updated_at_from, as: :quick_date %>
    <%= f.input :updated_at_to, as: :quick_date %>
    <%= f.input :modified_by_id, collection: @search.modified_by_users.map { |user| [ user.username, user.id ] }, prompt: "All" %>
    <%= f.input :generic1 %>
    <%= f.input :generic2 %>
    <%= f.input :generic3 %>
    <%= f.input :generic4 %>
    <%= f.input :generic5 %>
  <% end %>

  <p class="icon-search">
    <a href="#" id="toggle_advanced_search">Show Advanced Search Options</a>
  </p>

  <div class="form-actions">
    <%= f.button :submit, value: 'Search', class: 'btn-primary' %>
  </div>
<% end %>
