<div class="page-header">
  <h1>Search</h1>
</div>

<%= simple_form_for(@search, url: search_path, method: :get, html: {id: 'search', class: 'form-horizontal'}) do |f| %>
  <%= f.input :business_name %>
  <%= f.input :trading_name %>
  <%= f.input :company_registration  %>
  <%= f.input :state, collection: Loan::States.map(&:titleize), input_html: {multiple: true} %>

  <%= field_set_tag 'Sorting' do %>
    <%= f.input :sort_by, collection: Search::SortableAttributes.map {|attribute| [I18n.t(attribute, scope: [:simple_form, :labels, :search]), attribute]} %>
    <%= f.input :sort_order, as: :radio_buttons, collection: Search::SortOrders, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <%= field_set_tag 'Advanced' do %>

    <%= f.input :lending_limit_id, collection: current_lender.lending_limits, input_html: {multiple: true} %>

    <%= f.input :amount_from, as: :currency %>

    <%= f.input :amount_to, as: :currency %>

    <%= f.input :maturity_date_from %>

    <%= f.input :maturity_date_to %>

    <%= f.input :reason_id, collection: LoanReason.all, input_html: {multiple: true} %>

    <%= f.input :postcode %>

    <%= f.input :updated_at_from %>

    <%= f.input :updated_at_to %>

    <%= f.input :modified_by_id, collection: modified_by_options, prompt: "All" %>

    <%= f.input :generic1 %>

    <%= f.input :generic2 %>

    <%= f.input :generic3 %>

    <%= f.input :generic4 %>

    <%= f.input :generic5 %>

  <% end %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Search', class: 'btn-primary' %>
  </div>
<% end %>
