<%= breadcrumbs %>

<div class="page-header">
  <h1>Invoice Received</h1>

  <ul id="actions">
    <li>
      <%= simple_form_for(@invoice, url: select_loans_invoices_path(format: 'csv'), html: { class: 'csv-download' }) do |f| %>
        <%= render "hidden_fields", form: f %>
        <%= f.button :submit, 'Export CSV', class: 'btn', data: { 'disable-with' => 'Submitting...' } %>
      <% end %>
    </li>
  </ul>
</div>

<p>From this page you can record a Lender's Demand against the Guarantee as having been Settled.</p>

<p>The amount of claim (Guaranteed Percentage) must agree with the invoice. When you have agreed all the loans for which a claim is to be settled (by 'checking' the relevant box) click on 'Settle loans'. You will then be provided with the list of loans that have been Settled.</p>

<hr>

<% if @invoice.loans.any? %>
  <%= simple_form_for(@invoice, url: invoices_path, html: {class: 'form-select-loans'}) do |f| %>
    <%= f.error :base, error_tag: 'div', class: 'alert alert-error' %>
    <%= render "hidden_fields", form: f %>

    <% @invoice.grouped_loans.each do |group| %>
      <% if group.loans.any? %>
        <h2><%= group.name %></h2>

        <table class="table table-striped" data-behaviour="loan-table-selector">
          <thead>
            <tr>
              <th>Settle Claim?</th>
              <th>&nbsp;</th>
              <th>Loan Reference</th>
              <th>Name</th>
              <th>Date Demanded</th>
              <th>Amount of Claim<br>(Guaranteed Percentage)</th>
              <th>Amount to be Settled</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :loans, group.loans, include_id: false do |loan_form| %>
              <% loan = loan_form.object %>
              <tr id="<%= dom_id(loan) %>">
                <td>
                  <%= loan_form.hidden_field :id %>
                  <%= loan_form.check_box :settled %>
                </td>
                <td><%= "*" if loan.corrected? %></td>
                <td><%= loan.reference %></td>
                <td><%= loan.business_name %></td>
                <td><%= loan.dti_demanded_on.to_s(:screen) %></td>
                <td><%= loan.dti_amount_claimed.try(:format) %></td>
                <td><%= loan_form.input :settled_amount, as: :currency, label: false %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr><td colspan="7">( <strong>*</strong> indicates corrected loans )</td></tr>
          </tfoot>
        </table>
      <% end %>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, 'Settle Loans', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-error">There are no loans to settle.</div>
<% end %>