<%= breadcrumbs(
  link_to('Invoice Received', new_invoice_path),
  'Select Loans'
) %>

<div class="page-header">
  <h1>Invoice Received</h1>

  <ul id="actions">
    <li>
      <%= simple_form_for(@invoice, url: select_loans_invoices_path(format: 'csv')) do |f| %>
        <%= render "hidden_fields", form: f %>
        <%= f.button :submit, 'Export CSV', class: 'btn' %>
      <% end %>
    </li>
  </ul>
</div>

<p>From this page you can record a Lender's Demand against the Guarantee as having been Settled.</p>

<p>The amount of claim (Guaranteed Percentage) must agree with the invoice. When you have agreed all the loans for which a claim is to be settled (by 'checking' the relevant box) click on 'Settle loans'. You will then be provided with the list of loans that have been Settled.</p>

<hr>

<% if @invoice.demanded_loans.any? %>
  <%= simple_form_for(@invoice, url: invoices_path, html: {class: 'form-select-loans'}) do |f| %>
    <%= f.error :base, error_tag: 'div', class: 'alert alert-error' %>

    <%= render "hidden_fields", form: f %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Settle Claim?</th>
          <th>&nbsp;</th>
          <th>Loan Reference</th>
          <th>Name</th>
          <th>Date Demanded</th>
          <th>Outstanding Balance</th>
          <th>Eligible Outstanding Interest</th>
          <th>Amount of Claim (Guaranteed Percentage)</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice.demanded_loans.each do |loan| %>
          <tr id="<%= dom_id(loan) %>">
            <td><%= check_box_tag "#{f.object_name}[loans_to_be_settled_ids][]", loan.id %></td>
            <td><%= "*" if loan.corrected? %></td>
            <td><%= loan.reference %></td>
            <td><%= loan.business_name %></td>
            <td><%= loan.dti_demanded_on %></td>
            <td><%= loan.dti_demand_outstanding %></td>
            <td><%= loan.dti_interest %></td>
            <td><%= loan.dti_amount_claimed %></td>
          </tr>
        <% end %>
      </tbody>
      </tfoot>
        <td colspan="8">( <strong>*</strong> indicates corrected loans )</td>
      </tfoot>
    </table>

    <div class="form-actions">
      <%= f.button :submit, 'Settle Loans', class: 'btn-primary' %>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-error">There are no loans to settle.</div>
<% end %>