<%= breadcrumbs(
  link_to('Invoice Received', new_invoice_path)
) %>

<div class="page-header">
  <h1>Settle Loan Summary</h1>
</div>

<p>The following loans have been settled:</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Loan Reference</th>
      <th>Business Name</th>
      <th>Settle Date</th>
      <th>Loan State</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice.settled_loans.each do |loan| %>
      <tr>
        <td><%= loan.reference %></td>
        <td><%= loan.business_name %></td>
        <td><%= @invoice.created_at.to_s(:screen) %></td>
        <td><%= loan.state.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>