<%= render "user_management/password_not_set_dialog", user: @user %>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', value: @user.new_record? ? 'Create Premium Collector User' : 'Update Premium Collector User', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>

<% if @user.persisted? && @user.locked? %>
  <%= simple_form_for @user, url: unlock_premium_collector_user_path(@user), method: :post do |f| %>
    <%= f.button :submit, value: 'Unlock User', data: { 'disable-with' => 'Submitting...' } %>
  <% end %>
<% end %>

<% if @user.persisted? %>
  <% if @user.disabled? %>
    <%= simple_form_for @user, url: enable_premium_collector_user_path(@user), method: :post do |f| %>
      <%= f.button :submit, value: 'Enable User', data: { 'disable-with' => 'Submitting...' } %>
    <% end %>
  <% else %>
    <%= simple_form_for @user, url: disable_premium_collector_user_path(@user), method: :post do |f| %>
      <%= f.button :submit, value: 'Disable User', data: { 'disable-with' => 'Submitting...' } %>
    <% end %>
  <% end %>
<% end %>
