<%= breadcrumbs_for_loan(@loan) %>

<div class="page-header">
  <h1>Guarantee and Initial Loan Draw</h1>
</div>

<p>From this page you can record the details of the initial draw of loan funds.</p>

<p><span class="label label-important">IMPORTANT</span> If any changes have been made from what was originally set out in the Scheme Facility Offer documents then the loan will have to be cancelled and re-entered.</p>

<p><span class="label label-info">REMINDER</span> The Direct Debit details should now be uploaded to the Premium Collection Agent portal. Please retain the signed Direct Debit mandate for your own records.</p>

<p>Please not that on completion of Guarantee and Initial Draw, the Premium Payment Schedule will be delivered to the Premium Collection Agent automatically through the Web Portal.</p>

<hr>

<%= simple_form_for(@loan_guarantee, url: loan_guarantee_path(@loan), html: {class: 'form-horizontal form-loan-guarantee'}) do |f| %>
  <%= f.input :received_declaration, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <%= f.input :first_pp_received, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <%= f.input :signed_direct_debit_received, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>

  <%= f.input :initial_draw_date, as: :quick_date, wrapper_html: {data: {behaviour: 'initial-draw-date'}} %>
  <%= simple_form_row('Maturity Date', 'calculated based on initial draw date', class: 'projected-maturity-date', data: {'behaviour' => 'projected-maturity-date', 'repayment-duration' => f.object.repayment_duration.total_months}) %>

  <%= f.input :initial_draw_amount, as: :currency, disabled: true, hint: "To change the initial draw amount, you must #{link_to 'update the state aid calculation', edit_loan_state_aid_calculation_path(f.object.loan, redirect: 'loan_guarantee')}." %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>
