<div class="form-actions">
  <%= link_to('Change Amount or Terms', loan_loan_changes_path(@loan), class: 'btn') if current_user.can_create?(LoanChange) %>
  <%= link_to('Demand to Borrower', new_loan_demand_to_borrower_path(@loan), class: 'btn') if current_user.can_create?(LoanDemandToBorrower) %>
  <%= link_to('Remove Guarantee', new_loan_remove_guarantee_path(@loan), class: 'btn') if current_user.can_create?(LoanRemoveGuarantee) %>
  <%= link_to('Repay Loan', new_loan_repay_path(@loan), class: 'btn') if current_user.can_create?(LoanRepay) %>
  <%= link_to('Data Correction', loan_data_corrections_path(@loan), class: 'btn') if current_user.can_create?(DataCorrection) %>
</div>

<div class="form-actions">
  <%= link_to_premium_schedule(@loan) %>
  <%= link_to_state_aid_letter(@loan) %>
</div>
