<div class="form-actions">
  <%= link_to_loan_entry(@loan, class: 'btn btn-primary') %>
  <%= link_to('Cancel Loan', new_loan_cancel_path(@loan), class: 'btn btn-danger') if current_user.can_create?(LoanCancel) %>
</div>

<div class="form-actions">
  <%= link_to_premium_schedule(@loan) %>
  <%= link_to('State Aid Calculation', edit_loan_premium_schedule_path(@loan), class: 'btn btn-info') if current_user.can_update?(PremiumSchedule) %>
  <%= link_to_state_aid_letter(@loan) %>
</div>
