<div class="form-actions">
  <%= link_to('Lender Demand Satisfied', new_loan_satisfy_lender_demand_path(@loan), class: 'btn') if current_user.can_create?(LoanSatisfyLenderDemand) %>
  <%= link_to('No Claim', new_loan_no_claim_path(@loan), class: 'btn') if current_user.can_create?(LoanNoClaim) %>
  <%= link_to('Demand Against Guarantee', new_loan_demand_against_government_path(@loan), class: 'btn') if current_user.can_create?(LoanDemandAgainstGovernment) %>
  <%= link_to('Repay Loan', new_loan_repay_path(@loan), class: 'btn') if current_user.can_create?(LoanRepay) %>
  <%= link_to('Data Correction', loan_data_corrections_path(@loan), class: 'btn') if current_user.can_create?(DataCorrection) %>
</div>

<div class="form-actions">
  <%= link_to_premium_schedule(@loan) %>
  <%= link_to_state_aid_letter(@loan) %>
</div>
