<p>A new <strong>Enterprise Finance Guarantee</strong> support request has been sent by <%= @support_request.user.name %>.</p>

<p>---------------------</p>

<%= @support_request.message %>

<p>---------------------</p>

<p>
User's operating system: <%= @operating_system %></p>
<p>
User's browser: <%= @browser %></p>

<p>---------------------</p>
<p>This email has been sent to:<br/>
<%= @support_request.recipients.join(', ') %></p>
