<%= breadcrumbs %>

<div class="page-header">
  <%= loan_alerts_priority(params[:priority]) %>
  <h1><%= params[:action].titleize %> Loan Alerts (<%= pluralize(@alert.loans.count, 'loan') %>)</h1>
</div>

<p><%= t("loan_alerts.#{params[:action]}_description") %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Reference</th>
      <th>Business name</th>
      <th>Amount</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @alert.loans.each do |loan| %>
      <tr>
        <td><%= link_to(loan.reference, loan) %></td>
        <td><%= link_to(loan_business_name(loan), loan) %></td>
        <td><%= loan.amount.format %></td>
        <td><%= loan.updated_at.strftime("%d %B %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= other_alert_links(params[:priority]) %>
