<%= breadcrumbs %>

<div class="page-header">
  <%= loan_alerts_priority(params[:priority]) %>
  <h1>Loan Alerts (<%= pluralize(@loans.count, 'loan') %>)</h1>
  <h3><%= t("dashboard.loan_alerts.#{params[:action]}").html_safe %></h3>
</div>

<%= render partial: "loan_states/loans_listing", locals: { loans: @loans } %>

<%= other_alert_links(params[:priority]) %>
