<div class="page-header">
  <h1>Transfer a Loan</h1>
</div>

<p>From this page you can transfer loans from another approved SFLG lender.</p>

<p>(Tip. The details about the loan to be transferred can be obtained from the customer copy of the Scheme Facility Letter and Information Declaration).</p>

<hr>

<%= simple_form_for(@loan_transfer, url: loan_transfers_path, html: { class: 'form-horizontal form-loan-transfer' }) do |f| %>

  <%= render_errors_on_base(@loan_transfer.errors) %>

  <fieldset>
    <legend>Please supply the following details about the loan to be transferred:</legend>

    <%= f.input :reference %>
    <%= f.input :amount, as: :currency %>
    <%= f.input :facility_letter_date %>
  </fieldset>

  <fieldset>
    <legend>And these details about the new loan:</legend>

    <%= f.input :new_amount, as: :currency %>
    <%= f.input :declaration_signed, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, value: 'Transfer Loan', class: 'btn-primary' %>
  </div>
<% end %>
