<%= breadcrumbs_for_loan(@loan) %>

<div class="page-header">
  <h1>Loan Entry for <%= @transferred_loan_entry.reference %></h1>
</div>

<p>
From this page you can complete the application for the Government Guarantee. Before entering any further information on this page, the lender must have received the <%= link_to "Data Protection and Disclosure Declaration", data_protection_declaration_documents_path(format: :pdf) %> signed by the Applicant and checked the box by way of confirmation.</p>
<p>
Following completion of the Business, Facility and Lender sections of the application a decision will be returned and if agreed the application can be progressed to 'Offered'.</p>
<p>
Please note that all the information within Facility Entry can be revised, however before progressing to Offered the information must represent the final terms agreed with the Applicant as it cannot subsequently be changed.</p>

<hr>

<%= simple_form_for(@transferred_loan_entry, url: loan_transferred_entry_path(@loan), html: {class: 'form-horizontal form-loan-entry'}) do |f| %>
  <%= field_set_tag do %>
    <%= f.input :declaration_signed, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <%= field_set_tag 'Business' do %>
    <%= f.input :business_name, as: :string, disabled: true %>
    <%= f.input :trading_name, as: :string, disabled: true %>

    <% unless @transferred_loan_entry.legacy_loan? %>
      <%= f.input :legal_form_id, collection: LegalForm.all, disabled: true %>
      <%= f.input :company_registration, as: :string, disabled: true %>
      <%= f.input :turnover, as: :currency, disabled: true %>
      <%= f.input :trading_date, as: :quick_date, disabled: true %>
      <%= f.input :postcode, as: :string, disabled: true %>
      <%= f.input :sortcode %>
    <% end %>
  <% end %>

  <%= field_set_tag 'Facility' do %>
    <%= f.input :amount, as: :currency %>

    <div class='control-group string'>
      <label class='control-label'>Guarantee Rate for this loan (%):</label>
      <div class='controls'>
        <%= @loan.lending_limit.guarantee_rate %>%
      </div>
    </div>

    <div class='control-group string'>
      <label class='control-label'>Premium Rate for this loan (%):</label>
      <div class='controls'>
        <%= @loan.lending_limit.premium_rate %>%
      </div>
    </div>

    <%= f.input :repayment_duration, as: :duration %>
    <%= f.input :repayment_frequency_id, collection: RepaymentFrequency.all, prompt: "Please select" %>
    <%= f.input :maturity_date, as: :quick_date %>

    <% unless @transferred_loan_entry.legacy_loan? %>
      <%= simple_form_row t('simple_form.labels.loan_entry.sic_code'), @loan.sic_code %>
      <%= simple_form_row t('simple_form.labels.loan_entry.sic_desc'), @loan.sic_desc %>
      <%= f.input :reason_id, as: :select, collection: LoanReason.active, disabled: true, prompt: 'Please select', input_html: { class: 'input-xxlarge' } %>
    <% end %>

    <%= f.input :state_aid, as: :state_aid %>

    <% unless @transferred_loan_entry.legacy_loan? %>
      <%= f.input :state_aid_is_valid, as: :boolean, disabled: true %>

      <div class='control-group string'>
        <label class='control-label'>Is the result for Notified Aid less than 60% for Objective 1 loans, or 40% for non-Objective 1 loans?</label>
        <div class='controls'>
          Not Set
        </div>
      </div>
    <% end %>
  <% end %>

  <% unless @transferred_loan_entry.legacy_loan? %>
    <%= field_set_tag 'Loan' do %>
      <%= f.input :viable_proposition, as: :radio_buttons, disabled: true, wrapper_html: {class: 'radio-buttons-inline'} %>
      <%= f.input :would_you_lend, as: :radio_buttons, disabled: true, wrapper_html: {class: 'radio-buttons-inline'} %>
      <%= f.input :collateral_exhausted, as: :radio_buttons, disabled: true, wrapper_html: {class: 'radio-buttons-inline'} %>
      <%= f.input :generic1, as: :string %>
      <%= f.input :generic2, as: :string %>
      <%= f.input :generic3, as: :string %>
      <%= f.input :generic4, as: :string %>
      <%= f.input :generic5, as: :string %>
      <%= f.input :town, as: :string, disabled: true %>
      <%= f.input :non_validated_postcode, as: :string, disabled: true %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
    <%= f.button :submit, value: 'Save as Incomplete', class: 'btn-secondary' %>
  </div>
<% end %>