<div class="loan-summary dl-horizontal">
  <dl>
    <dt>State:</dt>
    <dd><%= loan.state.humanize %> <%= "(legacy)" if loan.legacy_loan? %></dd>
    <dt>Amount:</dt>
    <dd><%= loan.amount.try(:format) %></dd>
    <dt>Business name:</dt>
    <dd><%= loan_business_name(loan) %></dd>
    <dt>Last modified:</dt>
    <dd><%= loan.updated_at.strftime('%d/%m/%Y %H:%M:%S') %></dd>
    <dt>Modified by:</dt>
    <dd><%= loan.modified_by.try(:name) %></dd>
  </dl>

  <%= insert %>
</div>
