<div class="page-header">
  <h1><%= loan_title('Loan Details', @loan) %></h1>

  <ul id="actions">
    <li><%= link_to "Export CSV", details_loan_path(@loan, format: 'csv'), class: 'btn' %></li>
  </ul>
</div>

<%= loan_summary(@loan) do %>
  <div class="form-actions">
    <%= link_to 'Loan Summary', loan_path(@loan), class: 'btn' %>
  </div>
<% end %>

<h3>Eligibility and Loan Entry</h3>
<%= loan_details_table(@loan, 'simple_form.labels.loan_entry') do |table| %>
  <%= table.row 'lender', header: 'What is the name of the lender organisation?' %>
  <%= table.row 'reference', header: 'System Generated Identification Reference' %>
  <%= table.row 'declaration_signed' %>
  <%= table.row 'business_name' %>
  <%= table.row 'trading_name' %>
  <%= table.row 'legal_form', header: t('simple_form.labels.loan_entry.legal_form_id') %>
  <%= table.row 'company_registration' %>
  <%= table.row 'turnover' %>
  <%= table.row 'trading_date' %>
  <%= table.row 'postcode' %>
  <%= table.row 'sortcode' %>
  <%= table.row 'amount' %>
  <%= table.row 'repayment_duration' %>
  <%= table.row 'repayment_frequency', header: t('simple_form.labels.loan_entry.repayment_frequency_id') %>
  <%= table.row 'maturity_date' %>
  <%= table.row 'lending_limit', header: t('simple_form.labels.loan_entry.lending_limit_id') %>

  <% if @loan.lending_limit %>
    <tr>
      <th>Guarantee Rate</th>
      <td><%= @loan.lending_limit.guarantee_rate %>%</td>
    </tr>
    <tr>
      <th>Premium Rate</th>
      <td><%= @loan.lending_limit.premium_rate %>%</td>
    </tr>
  <% end %>

  <%= table.row 'sic_code' %>
  <%= table.row 'sic_desc' %>
  <%= table.row 'loan_category', header: t('simple_form.labels.loan_entry.loan_category_id') %>
  <%= table.row 'interest_rate_type', header: t('simple_form.labels.loan_entry.interest_rate_type_id') %>
  <%= table.row 'interest_rate' %>
  <%= table.row 'fees' %>
  <%= table.row 'previous_borrowing', header: t('simple_form.labels.loan_eligibility_check.previous_borrowing') %>
  <%= table.row 'viable_proposition', header: t('simple_form.labels.loan_eligibility_check.viable_proposition') %>
  <%= table.row 'would_you_lend', header: t('simple_form.labels.loan_eligibility_check.would_you_lend') %>
  <%= table.row 'collateral_exhausted', header: t('simple_form.labels.loan_eligibility_check.collateral_exhausted') %>

  <% if @loan.sic_notified_aid %>
    <tr>
      <th><%= t 'simple_form.labels.loan_entry.notified_aid' %></th>
      <td><%= loan_details_notified_aid @loan.notified_aid %></td>
    </tr>
    <tr>
      <th><%= t 'simple_form.labels.loan_entry.state_aid' %></th>
      <td>Not applicable</td>
    </tr>
    <tr>
      <th><%= t 'simple_form.labels.loan_entry.state_aid_is_valid' %></th>
      <td>Not applicable</td>
    </tr>
  <% else %>
    <tr>
      <th><%= t 'simple_form.labels.loan_entry.notified_aid' %></th>
      <td>Not applicable</td>
    </tr>
    <%= table.row 'state_aid' %>
    <%= table.row 'state_aid_is_valid' %>
  <% end %>

  <%= table.row 'generic1', header: 'Generic Lender Field 1' %>
  <%= table.row 'generic2', header: 'Generic Lender Field 2' %>
  <%= table.row 'generic3', header: 'Generic Lender Field 3' %>
  <%= table.row 'generic4', header: 'Generic Lender Field 4' %>
  <%= table.row 'generic5', header: 'Generic Lender Field 5' %>
  <%= table.row 'town' %>
  <%= table.row 'non_validated_postcode' %>
  <%= table.row 'private_residence_charge_required', header: t('simple_form.labels.loan_eligibility_check.private_residence_charge_required') %>
  <%= table.row 'personal_guarantee_required', header: t('simple_form.labels.loan_eligibility_check.personal_guarantee_required') %>

  <%= table.row 'non_validated_postcode' %>

  <% for_loan_in_categories(@loan, 2, 3, 4, 5, 6) do %>
    <tr>
      <th><%= t('simple_form.labels.loan_entry.loan_security_types') %></th>
      <td><%= loan_details_security_type_names(@loan) %></td>
    </tr>

    <%= table.row 'security_proportion', header: t('simple_form.labels.loan_entry.security_proportion') %>
  <% end %>

  <% for_loan_in_categories(@loan, 3) do %>
    <%= table.row 'original_overdraft_proportion', header: t('simple_form.labels.loan_entry.original_overdraft_proportion') %>
  <% end %>

  <% for_loan_in_categories(@loan, 3, 4) do %>
    <%= table.row 'refinance_security_proportion', header: t('simple_form.labels.loan_entry.refinance_security_proportion') %>
  <% end %>

  <% for_loan_in_categories(@loan, 4) do %>
    <%= table.row 'current_refinanced_amount', header: t('simple_form.labels.loan_entry.current_refinanced_amount') %>
    <%= table.row 'final_refinanced_amount', header: t('simple_form.labels.loan_entry.final_refinanced_amount') %>
  <% end %>

  <% for_loan_in_categories(@loan, 5) do %>
    <%= table.row 'overdraft_limit', header: t('simple_form.labels.loan_entry.overdraft_limit') %>
    <%= table.row 'overdraft_maintained', header: t('simple_form.labels.loan_entry.overdraft_maintained') %>
  <% end %>

  <% for_loan_in_categories(@loan, 6) do %>
    <%= table.row 'invoice_discount_limit', header: t('simple_form.labels.loan_entry.invoice_discount_limit') %>
    <%= table.row 'debtor_book_coverage', header: t('simple_form.labels.loan_entry.debtor_book_coverage') %>
    <%= table.row 'debtor_book_topup', header: t('simple_form.labels.loan_entry.debtor_book_topup') %>
  <% end %>

  <%= table.row 'created_by', header: 'Created By' %>
  <%= table.row 'created_at', header: 'Date and Time Created' %>
  <%= table.row 'modified_by', header: 'Last Modified By' %>
  <%= table.row 'updated_at', header: 'Last Modified On' %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Cancelled) %>
  <h3>Application cancelled</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_cancel') do |table| %>
    <%= table.row 'cancelled_reason', header: t('simple_form.labels.loan_cancel.cancelled_reason_id') %>
    <%= table.row 'cancelled_comment' %>
    <%= table.row 'cancelled_on' %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Offered) %>
  <h3>Offer Scheme Facility</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_offer') do |table| %>
    <%= table.row 'facility_letter_sent' %>
    <%= table.row 'facility_letter_date' %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Guaranteed) %>
  <h3>Guarantee and Initial Draw</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_guarantee') do |table| %>
    <%= table.row 'received_declaration' %>
    <%= table.row 'first_pp_received' %>
    <%= table.row 'signed_direct_debit_received' %>

    <% if @loan.initial_draw_change %>
      <tr>
        <th>On what date was the initial draw of funds made?</th>
        <td><%= @loan.initial_draw_change.date_of_change.to_s(:screen) %></td>
      </tr>
      <tr>
        <th>What was the value of the initial draw?</th>
        <td><%= @loan.initial_draw_change.amount_drawn.format %></td>
      </tr>
    <% end %>

    <tr>
      <th>Cumulative amount drawn to date</th>
      <td><%= @loan.cumulative_drawn_amount.format %></td>
    </tr>
    <tr>
      <th>Cumulative amount of lump sum(s) repaid to date</th>
      <td><%= @loan.cumulative_lump_sum_amount.format %></td>
    </tr>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::LenderDemand) %>
  <h3>Demand on Borrower</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_demand_to_borrower') do |table| %>
    <%= table.row 'borrower_demanded_on' %>
    <%= table.row 'amount_demanded' %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Removed) %>
  <h3>Remove Guarantee</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_remove') do |table| %>
    <%= table.row 'remove_guarantee_outstanding_amount' %>
    <%= table.row 'remove_guarantee_on' %>
    <%= table.row 'remove_guarantee_reason' %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Repaid) %>
  <h3>Loan Repaid</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_repay') do |table| %>
    <%= table.row 'repaid_on' %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::NotDemanded) %>
  <h3>No Demand Made Against Government Guarantee</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_no_claim') do |table| %>
    <%= table.row 'no_claim_on' %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Demanded) %>
  <h3>Demand against Government Guarantee</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_demand_against_government') do |table| %>
    <%= table.row 'dti_demanded_on' %>
    <%= table.row 'dti_demand_outstanding' %>
    <%= table.row 'dti_ded_code' %>
    <% # TODO: Include further DED association details. %>
    <%= table.row 'dti_reason' %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Settled) %>
  <h3>Make demand against Government Guarantee</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_settle_claim') do |table| %>
    <%= table.row 'settled_on' %>
    <% # TODO: Not sure where 2 more fields come from. %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Recovered) %>
  <h3>Recover</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_recovery') do |table| %>
    <tr>
      <th>Total of all previous recoveries</th>
      <td><%= @loan.cumulative_recoveries_amount.format %></td>
    </tr>
    <%= table.row 'recovery_on' %>
  <% end %>
<% end %>

<% if loan_state_history_includes?(@loan, Loan::Realised) %>
  <h3>Realise Money</h3>
  <%= loan_details_table(@loan, 'simple_form.labels.loan_realise') do |table| %>
    <%= table.row 'realised_money_date' %>
    <% # TODO: More Realised fields. %>
  <% end %>
<% end %>
