<div class="page-header with-actions">
  <h1><%= loan_title('Loan Summary', @loan) %></h1>

  <div class="loan-summary">
    <ul>
      <li><strong>Borrower:</strong> <%= loan_business_name(@loan) %></li>
      <li><strong>State:</strong> <%= @loan.state.titleize %></li>

      <% if @loan.state == Loan::Rejected %>
        <li>
          <strong>Rejection reasons:</strong>
          <ol>
            <% @loan.eligibility_check.reasons.each do |reason| %>
              <li><%= reason %></li>
            <% end %>
          </ol>
        </li>
      <% end %>

      <li><strong>Last Updated:</strong> <%= @loan.updated_at.strftime("%d %B %Y") %></li>
    </ul>

    <div class="form-actions">
      <%= link_to 'Loan Details', details_loan_path(@loan), class: 'btn' %>
      <%= render "loans/buttons/#{@loan.state}" %>
    </div>
  </div>
</div>
