<div class="page-header">
  <h1><%= loan_title('Loan Summary', @loan) %></h1>
</div>

<%= loan_summary(@loan) do %>
  <div class="form-actions">
    <%= link_to 'Loan Details', details_loan_path(@loan), class: 'btn' %>

    <div class="form-actions">
      <%= render "loans/buttons/#{@loan.state}" %>
    </div>
  </div>
<% end %>

<% if @loan.state == Loan::Rejected %>
  <h3>Rejection Reasons</h3>
  <ol>
    <% @loan.eligibility_check.reasons.each do |reason| %>
      <li><%= reason %></li>
    <% end %>
  </ol>
<% end %>