<div class="page-header with-actions">
  <h1><%= loan_title('Loan Summary', @loan) %></h1>
  <ul id="actions">
    <li><%= link_to "Export CSV", loan_path(@loan, format: 'csv'), class: 'btn' %></li>
  </ul>
</div>

<%= loan_summary(@loan) do %>
  <div class="form-actions">
    <%= link_to 'Loan Details', details_loan_path(@loan), class: 'btn' %>

    <% if current_user.can_view?(LoanModification) %>
      <%= link_to 'Loan Changes', loan_loan_modifications_path(@loan), class: 'btn' %>
    <% end %>

    <%= link_to('View Audit Log', audit_log_loan_path(@loan), class: 'btn') %>

    <div class="form-actions">
      <%= render "loans/buttons/#{@loan.state}" %>
    </div>
  </div>
<% end %>

<% if loan_ineligible?(@loan) %>
  <h3>Ineligibility Reasons</h3>
  <%= render "loan_eligibility_decisions/ineligibility_reasons", loan: @loan %>
<% end %>
