<div class="page-header with-actions">
  <h1><%= loan_title('Loan Summary', @loan) %></h1>
  <ul id="actions">
    <li><%= link_to "Export CSV", url_for(format: 'csv'), class: 'btn' %></li>
  </ul>
</div>

<%= loan_summary(@loan) do %>
  <div class="form-actions">
    <%= link_to 'Loan Details', details_loan_path(@loan), class: 'btn' %>

    <div class="form-actions">
      <%= render "loans/buttons/#{@loan.state}" %>
    </div>
  </div>
<% end %>

<% # TODO: Can a CfeUser view loan rejection details? %>
<% if @loan.state == Loan::Rejected %>
  <h3>Rejection Reasons</h3>
  <ol>
    <% @loan.eligibility_check.reasons.each do |reason| %>
      <li><%= reason %></li>
    <% end %>
  </ol>
<% end %>
