<div class="page-header">
  <h1>Sign In</h1>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :username, required: false, autofocus: true %>
  <%= f.input :password, required: false %>

  <%= render 'devise/shared/links' %>
  <%= link_to 'Forgot your username?', new_usernames_reminder_path %>

  <div class="form-actions">
    <%= f.button :submit, 'Sign In', class: 'btn btn-primary' %>
  </div>
<% end %>
