<%= render "user_management/password_not_set_dialog", user: @user %>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input(:disabled, wrapper: :checkbox) %>
  <%= f.input(:locked, as: :boolean, wrapper: :checkbox, input_html: { checked: @user.access_locked? }) unless @user.new_record? %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', value: @user.new_record? ? 'Create CfE User' : 'Update CfE User' %>
  </div>
<% end %>
