<%= breadcrumbs(
  link_to('CfE Users', cfe_users_path),
  'View CfE User'
) %>

<div class="page-header">
  <h1>CfE User: <%= @user.name %></h1>
</div>

<dl>
  <dt>Username</dt>
  <dd><%= @user.username %></dd>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <dt>Locked</dt>
  <dd><%=friendly_boolean @user.locked? %></dd>
</dl>

<div class="actions">
  <%= link_to "Back to CfE Users", cfe_users_url, class: 'btn' %>
</div>
