<%= render "user_management/password_not_set_dialog", user: @user %>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', value: @user.new_record? ? 'Create Auditor User' : 'Update Auditor User', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>

<%= render 'user_management/user_state_change_buttons', user: @user %>
