<%= breadcrumbs_for_loan(@loan, 'Facility is Ineligible') %>

<div class="page-header">
  <h1>Facility is ineligible</h1>
</div>

<p>Your loan reference is: <strong><%= @loan.reference %></strong></p>

<p>Your loan application was rejected for the following reasons:</p>

<%= render "ineligibility_reasons", loan: @loan %>

<p>This page confirms your application is not eligible for SFLG and cannot be progressed any further.</p>

<%= link_to 'View Loan Summary', loan_path(@loan), class: 'btn' %>

<hr />

<p>This eligibility decision can be e-mailed for your convenience (for internal use only).</p>

<%= render "form" %>
