<div class="page-header">
  <h1>State Aid Calculation for <%= @loan.reference %></h1>
</div>

<p>From this page you can enter the information to enable the calculation of the Premium Payment Schedule.</p>

<p>Once produced the schedule will be forwarded automatically to the Premium Collection Agent (except in cases where loans were agreed under the legacy 'Small Firms Loan Arrangement' as all premium payments were paid at the outset).</p>

<p>IMPORTANT: All these questions must be answered from the perspective of the intended remaining term of the facility, looking forward from the date of the next quarterly Premium collection.  If the next quarterly Premium falls due within one month the position should be stated looking forward from the following quarterly Premium collection.</p>

<hr>

<%= simple_form_for(@state_aid_calculation, url: loan_regenerate_schedule_path(@loan), html: {class: 'form-horizontal form-state-aid-calculation'}) do |f| %>
  <%= f.input :premium_cheque_month, as: :string, label: reschedule_form_label('premium_cheque_month') %>
  <%= f.input :initial_draw_amount, as: :currency, label: reschedule_form_label('initial_draw_amount') %>
  <%= f.input :initial_draw_months, as: :string, label: reschedule_form_label('initial_draw_months') %>

  <%= field_set_tag 'Draw Information' do %>
    <%= f.input :initial_capital_repayment_holiday, as: :string, label: reschedule_form_label('initial_capital_repayment_holiday')  %>
    <%= f.input :second_draw_amount, as: :currency, label: reschedule_form_label('second_draw_amount')  %>
    <%= f.input :second_draw_months, as: :string, label: reschedule_form_label('second_draw_months')  %>
    <%= f.input :third_draw_amount, as: :currency, label: reschedule_form_label('third_draw_amount')  %>
    <%= f.input :third_draw_months, as: :string, label: reschedule_form_label('third_draw_months')  %>
    <%= f.input :fourth_draw_amount, as: :currency, label: reschedule_form_label('fourth_draw_amount')  %>
    <%= f.input :fourth_draw_months, as: :string, label: reschedule_form_label('fourth_draw_months')  %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
    <%# link_to 'Cancel', leave_state_aid_calculation_path(@loan), class: 'btn' %>
  </div>
<% end %>
