<div class="page-header">
  <h1>Loan Change</h1>
</div>

<%= loan_summary(@loan) do %>
  <div class="form-actions">
    <%= link_to 'Loan Summary', loan_path(@loan), class: 'btn' %>
  </div>
<% end %>

<p>From this page you can view the detail of a Loan History Change.</p>

<table class="table table-striped table-loan-changes">
  <tbody>
    <tr>
      <th>Change date</th>
      <td><%= @loan_modification.date_of_change.to_s(:screen) %></td>
      <th>Change type</th>
      <td><%= @loan_modification.change_type_name %></td>
    </tr>

    <% @loan_modification.changes.each do |change| %>
      <tr>
        <th><%= change[:old_attribute].humanize %></th>
        <td><%= format_modification_value change[:old_value] %></td>
        <th><%= change[:attribute].humanize %></th>
        <td><%= format_modification_value change[:value] %></td>
      </tr>
    <% end %>

    <% if @loan_modification.amount_drawn %>
      <tr>
        <th>Amount drawn</th>
        <td colspan="3"><%= @loan_modification.amount_drawn.format %></td>
      </tr>
    <% end %>

    <% if @loan_modification.lump_sum_repayment %>
      <tr>
        <th>Lump sum repayment</th>
        <td colspan="3"><%= @loan_modification.lump_sum_repayment.format %></td>
      </tr>
    <% end %>

    <tr>
      <th>Modified on</th>
      <td><%= @loan_modification.modified_date.to_s(:screen) %></td>
      <th>Modified by</th>
      <td><%= @loan_modification.created_by.name %></td>
    </tr>
  </tbody>
</table>
