<div class="page-header">
  <h1>Check Eligibility</h1>
</div>

<%= simple_form_for(@loan_eligibility_check, url: loans_eligibility_check_path, html: {class: 'form-horizontal form-eligibility-check'}) do |f| %>
  <%= field_set_tag 'Declaration by Lender' do %>
    <%= f.input :viable_proposition, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :would_you_lend, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :collateral_exhausted, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <%= field_set_tag 'About the Borrower and Their Facility' do %>
    <%= f.input :amount, as: :currency %>
    <%= f.input :lender_cap, as: :radio_buttons, collection: LoanEligibilityCheck::LoanFacilities %>
    <%= f.input :repayment_duration, as: :string %>
    <%= f.input :turnover, as: :currency %>
    <%= f.input :trading_date, as: :date %>
    <%= f.input :sic_code, as: :string %>
    <%= f.input :loan_category, as: :radio_buttons, collection: LoanEligibilityCheck::LoanCategories %>
    <%= f.input :reason, as: :radio_buttons, collection: LoanEligibilityCheck::LoanReasons %>
    <%= f.input :previous_borrowing, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :private_residence_charge_required, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
    <%= f.input :personal_guarantee_required, as: :radio_buttons, wrapper_html: {class: 'radio-buttons-inline'} %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, 'Check', class: 'btn-primary' %>
  </div>
<% end %>
