<%= breadcrumbs_for_loan(
  @loan,
  link_to('Change Facility', loan_loan_changes_path(@loan))
) %>

<div class="page-header">
  <h1>Change Facility</h1>
</div>

<%= simple_form_for(@presenter, url: loan_loan_changes_path(@loan, type: params[:type]), html: { class: 'form-horizontal form-loan-change' }) do |f| %>
  <%= render_errors_on_base(f.object.errors) %>

  <%= f.input :date_of_change, as: :quick_date %>

  <%= render params[:type], f: f %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
  </div>
<% end %>
