<%= breadcrumbs %>

<div class="page-header">
  <h1>Loan Report</h1>
</div>

<p>From this page you can generate a loan report based on your chosen criteria.</p>

<p>This functionality reports on loans where actions have been completed on the Web Portal.</p>

<hr>

<%= simple_form_for(@loan_report, url: loan_report_path, html: { class: 'form-horizontal loan-report' }) do |f| %>

  <%= f.input :facility_letter_start_date, as: :quick_date %>

  <%= f.input :facility_letter_end_date, as: :quick_date %>

  <%= f.input :created_at_start_date, as: :quick_date %>

  <%= f.input :created_at_end_date, as: :quick_date %>

  <%= f.input :last_modified_start_date, as: :quick_date %>

  <%= f.input :last_modified_end_date, as: :quick_date %>

  <%= f.input :states, as: :select, collection: loan_state_options(LoanReportPresenter::ALLOWED_LOAN_STATES), input_html: { multiple: true } %>

  <% if @loan_report.has_lender_selection? %>
    <%= f.input :lender_ids, as: :select, collection: @loan_report.allowed_lenders.order_by_name, input_html: { class: 'input-xxlarge', multiple: true } %>
  <% else %>
    <%= hidden_field_tag 'loan_report[lender_ids][]', current_lender.id %>
  <% end %>

  <% if @loan_report.has_created_by_selection? %>
    <%= f.input :created_by_id, as: :select, collection: current_lender.lender_users, prompt: 'All' %>
  <% end %>

  <% if @loan_report.has_loan_type_selection? %>
    <%= f.input :loan_types, as: :check_boxes, collection: LoanTypes::ALL %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
  </div>

<% end %>
