<div class="page-header">
  <h1>Loan Report</h1>
</div>

<p>From this page you can generate a loan report based on your chosen criteria.</p>

<p>This functionality reports on loans where actions have been completed on the Web Portal.</p>

<hr>

<%= simple_form_for(@loan_report, url: loan_report_path, html: { class: 'form-horizontal' }) do |f| %>

  <%= f.input :facility_letter_start_date %>

  <%= f.input :facility_letter_end_date %>

  <%= f.input :created_at_start_date %>

  <%= f.input :created_at_end_date %>

  <%= f.input :last_modified_start_date %>

  <%= f.input :last_modified_end_date %>

  <%= f.input :loan_state, as: :select, collection: LoanReport::ALLOWED_LOAN_STATES, include_blank: false %>

  <%= f.input :created_by_user_id, as: :select, collection: current_lender.users, include_blank: false %>

  <%= f.input :loan_type, as: :radio_buttons, collection: LoanReport::ALLOWED_LOAN_TYPES, wrapper_html: { class: 'radio-buttons-inline' } %>

  <%= f.input :loan_scheme, as: :select, collection: LoanReport::ALLOWED_LOAN_SCHEMES, include_blank: false %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
  </div>

<% end %>
