<%= breadcrumbs(
  link_to('Loan Audit Report', new_loan_audit_report_path)
) %>

<div class="page-header">
  <h1>Loan Audit Report Summary</h1>
</div>

<p>This page summarises the results of your audit search criteria. You can download the report or perform a fresh search using edited or new criteria.</p>

<h2>Data extract found <%= pluralize(@loan_audit_report.count, 'row') %></h2>

<% if @loan_audit_report.count.zero? %>
  <p>
  <%= link_to "New criteria", new_loan_audit_report_path, class: 'btn' %></p>
<% end %>

<table class="table table-striped report-summary">
  <thead>
    <tr>
      <th class='criterion'>Criterion</th>
      <th class='value'>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The date of Scheme Facility Letter start date for your report</td>
      <td><%= @loan_audit_report.facility_letter_start_date.try(:to_s, :screen) %></td>
    </tr>
    <tr>
      <td>The date of Scheme Facility Letter end date for your report</td>
      <td><%= @loan_audit_report.facility_letter_end_date.try(:to_s, :screen) %></td>
    </tr>
    <tr>
      <td>The 'created' start date for your report</td>
      <td><%= @loan_audit_report.created_at_start_date.try(:to_s, :screen) %></td>
    </tr>
    <tr>
      <td>The 'created' end date for your report</td>
      <td><%= @loan_audit_report.created_at_end_date.try(:to_s, :screen) %></td>
    </tr>
    <tr>
      <td>The 'last modified' start date for your report</td>
      <td><%= @loan_audit_report.last_modified_start_date.try(:to_s, :screen) %></td>
    </tr>
    <tr>
      <td>The 'last modified' end date for your report</td>
      <td><%= @loan_audit_report.last_modified_end_date.try(:to_s, :screen) %></td>
    </tr>
    <tr>
      <td>The audit function</td>
      <td><%= @loan_audit_report.event_id.blank? ? 'All' : LoanEvent.find(@loan_audit_report.event_id.to_i).name %></td>
    </tr>
    <tr>
      <td>The 'last modified' start date for your report</td>
      <td><%= @loan_audit_report.audit_records_start_date.try(:to_s, :screen) %></td>
    </tr>
    <tr>
      <td>The 'last modified' end date for your report</td>
      <td><%= @loan_audit_report.audit_records_end_date.try(:to_s, :screen) %></td>
    </tr>
    <tr>
      <td>The 'loan state' for your report</td>
      <td><%= @loan_audit_report.state.blank? ? 'All' : @loan_audit_report.state.humanize %></td>
    </tr>
    <tr>
      <td>The lender organisation</td>
      <td><%= @loan_audit_report.lender_id.blank? ? 'All' : Lender.find(@loan_audit_report.lender_id).name %></td>
    </tr>
  </tbody>
</table>

<% unless @loan_audit_report.count.zero? %>

  <%= simple_form_for(@loan_audit_report, url: loan_audit_report_path(format: 'csv'), html: { class: 'csv-download' }) do |f| %>

    <%= f.hidden_field :facility_letter_start_date, value: @loan_audit_report.facility_letter_start_date.try(:to_s, :screen) %>
    <%= f.hidden_field :facility_letter_end_date, value: @loan_audit_report.facility_letter_end_date.try(:to_s, :screen) %>
    <%= f.hidden_field :created_at_start_date, value: @loan_audit_report.created_at_start_date.try(:to_s, :screen) %>
    <%= f.hidden_field :created_at_end_date, value: @loan_audit_report.created_at_end_date.try(:to_s, :screen) %>
    <%= f.hidden_field :last_modified_start_date, value: @loan_audit_report.last_modified_start_date.try(:to_s, :screen) %>
    <%= f.hidden_field :last_modified_end_date, value: @loan_audit_report.last_modified_end_date.try(:to_s, :screen) %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :audit_records_start_date %>
    <%= f.hidden_field :audit_records_end_date %>
    <%= f.hidden_field :state %>
    <%= f.hidden_field :lender_id %>

    <div class="form-actions">
      <%= f.button :submit, value: 'Download Report', class: 'btn-primary', data: { 'disable-with' => 'Submitting...' } %>
    </div>

  <% end %>

<% end %>