<%= breadcrumbs('Premium Payment Schedule Extract') %>

<div class="page-header">
  <h1>Premium Payment Schedule Extract Criteria</h1>
</div>

<p>From this page you can perform Premium Payment Schedule extracts using selected criteria.</p>

<hr>

<%= simple_form_for(@premium_schedule_report, html: { class: 'form-horizontal form-premium-schedule-report' }) do |f| %>
  <%= render_errors_on_base(f.object.errors) %>

  <%= f.input :collection_month, as: :string, placeholder: 'mm/yyyy' %>
  <%= f.input :start_on, as: :quick_date %>
  <%= f.input :finish_on, as: :quick_date %>
  <%= f.input :schedule_type, as: :radio_buttons, collection: PremiumScheduleReport::SCHEDULE_TYPES, wrapper_html: { class: 'radio-buttons-inline' } %>
  <%= f.input :loan_type, as: :radio_buttons, collection: PremiumScheduleReport::LOAN_TYPES, wrapper_html: { class: 'radio-buttons-inline' } %>
  <%= f.input :loan_reference, as: :string %>
  <%= f.input :lender_id, as: :select, collection: Lender.order_by_name, prompt: 'All' %>
  <%= f.input :loan_scheme, as: :radio_buttons, collection: PremiumScheduleReport::LOAN_SCHEMES, wrapper_html: { class: 'radio-buttons-inline' } %>

  <div class="form-actions">
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
  </div>
<% end %>
