<%= breadcrumbs(
  link_to('CfE Admins', cfe_admins_path),
  'View CfE Admin'
) %>

<div class="page-header">
  <h1>CfE Admin: <%= @user.name %></h1>
</div>

<dl>
  <dt>Username</dt>
  <dd><%= @user.username %></dd>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <dt>Locked</dt>
  <dd><%=friendly_boolean @user.locked? %></dd>
</dl>

<div class="actions">
  <%= link_to "Back to CfE Admins", cfe_admins_url, class: 'btn' %>
</div>
