<!DOCTYPE html>
<html>
<head>
  <title><%= application_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--[if IE 6]>
    <%= stylesheet_link_tag 'ie6-bootstrap', media: 'all' %>
  <![endif]-->
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie', media: 'all' %>
  <![endif]-->
  <%= stylesheet_link_tag 'print', media: 'print' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= google_analytics %>
</head>
<body class="<%= 'training' if training_mode? %>">

  <div class="navbar-container">
    <%= navbar(:primary) do %>
      <%= navbar_title application_title, root_path %>

      <% if user_signed_in? %>
        <%= navigation(:right) do |nav| %>
          <% if !current_user_access_restricted? %>
            <%= nav.dropdown('Help') do |dropdown| %>
              <%= dropdown.item 'Web Portal Manual', '/help/EFG Web Portal Manual Issue One November 2012 KF Draft.pdf', class: 'pdf-download' %>
              <%= dropdown.item 'EFG Scheme Manual', '/help/EFG Scheme Manual.docx', class: 'pdf-download' %>
              <%= dropdown.item 'SFLG Scheme Manual', '/help/SFLG Scheme Manual.pdf', class: 'pdf-download' %>
              <%= dropdown.item '2007 SIC Indices', '/help/sic2007index.pdf', class: 'pdf-download' %>
              <%= dropdown.item 'Direct Debit Mandate', '/pdfs/direct_debit_mandate.pdf', class: 'pdf-download' %>
              <%= dropdown.item 'Premium Collection Guidance', '/help/Premium Collection Guidance Note.pdf', class: 'pdf-download' %>

              <% if current_user.can_create?(AskCfe) %>
                <%= dropdown.item 'Ask CfE', new_help_ask_cfe_path %>
              <% end %>
              <% if current_user.can_create?(AskAnExpert) %>
                <%= dropdown.item 'Ask an Expert', new_help_ask_an_expert_path %>
              <% end %>
            <% end %>

            <%= nav.item 'Change Password', edit_change_password_path %>
          <% end %>
          <%= nav.item 'Logout', destroy_user_session_path, id: "logout" %>
        <% end %>
      <% end %>
    <% end %>

    <% if user_signed_in? && !current_user_access_restricted? %>
      <%= navbar(:secondary) do %>
        <%= navigation do |nav| %>
          <% if current_user.can_view?(LoanStates) %>
            <%= nav.item 'Loan Portfolio', loan_states_path %>
          <% end %>
          <% if current_user.can_create?(PremiumScheduleReport) %>
            <%= nav.item 'Extract Premium Schedule Information', new_premium_schedule_report_path %>
          <% end %>
          <% if current_user.can_create?(LoanEligibilityCheck) %>
            <%= nav.item 'New Loan', new_eligibility_check_path %>
          <% end %>
          <% if current_user.can_create?(Invoice) %>
            <%= nav.item 'Invoice Received', new_invoice_path %>
          <% end %>
          <% if current_user.can_create?(RealisationStatement) %>
            <%= nav.item 'Recoveries Statement Received', new_realise_loan_path %>
          <% end %>
          <% if current_user.can_create?(LoanTransfer::Sflg) %>
            <%= nav.item 'Transfer a Loan', new_loan_transfer_path %>
          <% end %>
          <% if current_user.can_create?(LoanTransfer::LegacySflg) %>
            <%= nav.item 'Transfer a Legacy Loan', new_legacy_loan_transfer_path %>
          <% end %>
          <% if current_user.can_create?(LoanReport) %>
            <li><%= link_to 'Generate a Loan Report', new_loan_report_path %></li>
          <% end %>
          <% if current_user.can_create?(LoanAuditReport) %>
            <li><%= link_to 'Generate Loan Audit Report', new_loan_audit_report_path %></li>
          <% end %>
          <% if current_user.can_view?(Search) %>
            <%= nav.item 'Search', new_search_path %>
          <% end %>

          <%= render('search/loan_lookup_form') if current_user.can_view?(Search) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
