<!DOCTYPE html>
<html>
<head>
  <title>Enterprise Finance Guarantee</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--[if IE 6]>
    <%= stylesheet_link_tag 'ie6-bootstrap', media: 'all' %>
  <![endif]-->
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'ie', media: 'all' %>
  <![endif]-->
  <%= stylesheet_link_tag 'print', media: 'print' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= google_analytics %>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Enterprise Finance Guarantee', root_path, class: 'brand' %>

        <% if user_signed_in? %>
          <% if current_user_access_restricted? %>
            <ul class="nav">
              <li><%= link_to 'Logout', destroy_user_session_path %></li>
            </ul>
          <% else %>
            <%= render('search/loan_lookup_form') if current_user.can_view?(Search) %>

            <ul class="nav">
              <% if current_user.can_view?(LoanStates) %>
                <li><%= link_to 'Loan Portfolio', loan_states_path %></li>
              <% end %>
              <% if current_user.can_create?(PremiumScheduleReport) %>
                <li><%= link_to 'Extract premium schedule information', new_premium_schedule_report_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanEligibilityCheck) %>
                <li><%= link_to 'New Loan', new_eligibility_check_path %></li>
              <% end %>
              <% if current_user.can_create?(Invoice) %>
                <li><%= link_to 'Invoice Received', new_invoice_path %></li>
              <% end %>
              <% if current_user.can_create?(RealisationStatement) %>
                <li><%= link_to 'Recoveries statement received', new_realise_loan_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanTransfer::Sflg) %>
                <li><%= link_to 'Transfer a loan', new_loan_transfer_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanTransfer::LegacySflg) %>
                <li><%= link_to 'Transfer a legacy loan', new_legacy_loan_transfer_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanReport) %>
                <li><%= link_to 'Generate a loan report', new_loan_report_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanAuditReport) %>
                <li><%= link_to 'Generate loan audit report', new_loan_audit_report_path %></li>
              <% end %>
              <% if current_user.can_view?(Search) %>
                <li><%= link_to 'Search', new_search_path %></li>
              <% end %>

              <li><%= link_to 'Change Password', edit_change_password_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path %></li>

              <li class="dropdown">
                <%= link_to '#', "class" => "dropdown-toggle", "data-toggle" => "dropdown" do %>
                  Help <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Scheme Manual', help_path %></li>
                  <% if current_user.can_create?(AskCfe) %>
                    <li><%= link_to 'Ask CfE', new_help_ask_cfe_path %></li>
                  <% end %>
                  <% if current_user.can_create?(AskAnExpert) %>
                    <li><%= link_to 'Ask an Expert', new_help_ask_an_expert_path %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
