<!DOCTYPE html>
<html>
<head>
  <title>EFG</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Enterprise Finance Guarantee', root_path, class: 'brand' %>

        <% if user_signed_in? %>
          <ul class="nav">
            <% unless current_user.disabled? %>
              <% if current_user.can_view?(Loan::States) %>
                <li><%= link_to 'Loan Portfolio', loan_states_path %></li>
              <% end %>
              <% if current_user.can_create?(PremiumScheduleReport) %>
                <li><%= link_to 'Extract premium schedule information', new_premium_schedule_report_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanEligibilityCheck) %>
                <li><%= link_to 'New Loan', new_eligibility_check_path %></li>
              <% end %>
              <% if current_user.can_create?(Invoice) %>
                <li><%= link_to 'Invoice Received', new_invoice_path %></li>
              <% end %>
              <% if current_user.can_create?(RealisationStatement) %>
                <li><%= link_to 'Recoveries statement received', new_realise_loan_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanTransfer::Sflg) %>
                <li><%= link_to 'Transfer a loan', new_loan_transfer_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanTransfer::LegacySflg) %>
                <li><%= link_to 'Transfer a legacy loan', new_legacy_loan_transfer_path %></li>
              <% end %>
              <% if current_user.can_create?(LoanReport) %>
                <li><%= link_to 'Generate a loan report', new_loan_report_path %></li>
              <% end %>
              <% if current_user.can_view?(Search) %>
                <li><%= link_to 'Search', new_search_path %></li>
              <% end %>
              <li><%= link_to 'Change Password', edit_change_password_path %></li>
            <% end %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

            <% unless current_user.disabled? %>
              <li class="dropdown">
                <%= link_to '#', "class" => "dropdown-toggle", "data-toggle" => "dropdown" do %>
                  Help <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Frequently asked questions', '#' %></li>
                  <li><%= link_to "Guidance on the '5-year eligibility rule'", '#' %></li>
                  <li><%= link_to 'SFLG Scheme Manual', '#' %></li>
                  <li><%= link_to 'SFLG Web Portal Training Material', '#' %></li>
                  <li><%= link_to 'SFLG Web portal manual', '#' %></li>
                  <li><%= link_to 'User administration guide', '#' %></li>
                </ul>
              </li>
            <% end %>
          </ul>

          <% unless current_user.disabled? %>
            <ul class="nav secondary">
              <% if current_user.can_view?(Search) %>
                <li><%= render "search/loan_lookup_form" %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
